.text-section__inner {
    margin-top: 80px;
}

.text-section__inner__first-part {
    margin-left: 50px;

    h2 {
        font-size: 17px;
        color: #bf4800;
    }

    h3 {
        font-size: 48px;
        color: #1d1d1f;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
        color: #1d1d1f;
    }
}