.text-section__inner {
    margin-top: 80px;
    display: flex;
}

.text-section__inner__first-part {
    margin-left: 70px;

    h2 {
        font-size: 17px;
        color: #bf4800;
    }

    h3 {
        font-size: 48px;
        color: #1d1d1f;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
        color: #1d1d1f;
    }
}

.text-section__inner__second-part {
    margin-left: 670px;

    p {
        color: #1d1d1f;
        background-color: #f5f5f7;
    }
}

.text-section__inner__second-part1 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
    margin-left: 45px;
    
    p {
        padding: 15px;
        border-radius: 20px;
    }
}

.text-section__inner__second-part2 {

    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
    
    p {
        padding: 15px;
        border-radius: 20px;
    }
}